
ul#menu-footer_menu, ul#menu-footer_menu_en, ul#menu-footer_menu_de {
  display: block;
  list-style: none;

  li {
    display: inline-block;
    margin: 8px 10px;
    font-size: 14px;

    a {
      padding: 6px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

