@import 'reset';
@import 'base';
@import 'header';
@import 'footer';
@import 'availability';
@import 'home';
@import 'page';
@import 'booking';
@import 'accommodation';
@import 'squares';
@import 'menu';
@import 'facilities';
@import 'inpagemenu';
@import 'reviews';
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff !important;
  color: $brown;
  font-size: 16px;
  //font-family: "Tinos", serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-rendering: optimizelegibility;
  //background-color: $brown
  padding-top: 100px;
}

strong {
  font-weight: bold;
}

.__bold.__italic a {
  font-weight: bold;
  padding: 4px 6px;
  border: 1px solid;
}

//img {
//  image-rendering: auto;
//  image-rendering: crisp-edges;
//  image-rendering: pixelated;
//}

small {
  font-size: 85%;
}

main {
  background: url("../images/bg.jpg") 100% repeat #f2f2f2;
  /* padding-top: 5.5em; */
  /* margin-top: 300px; */
  /* padding-bottom: 6em; */
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 961px) {
    //padding-top: 5.5em;
  }
}

main .button,
main #local-weather .weather-link,
#local-weather main .weather-link,
main .offers-list .booking-link,
.offers-list main .booking-link,
main input[type="button"],
main button,
main input[type="submit"] {
  border: 3px solid #26d2e2 !important;
  padding: 0.1em 1.5em;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s
}

main .button:hover,
main #local-weather .weather-link:hover,
#local-weather main .weather-link:hover,
main .offers-list .booking-link:hover,
.offers-list main .booking-link:hover,
main .button:focus,
main #local-weather .weather-link:focus,
#local-weather main .weather-link:focus,
main .offers-list .booking-link:focus,
.offers-list main .booking-link:focus,
main .button:active,
main #local-weather .weather-link:active,
#local-weather main .weather-link:active,
main .offers-list .booking-link:active,
.offers-list main .booking-link:active,
main input[type="button"]:hover,
main input[type="button"]:focus,
main input[type="button"]:active,
main button:hover,
main button:focus,
main button:active,
main input[type="submit"]:hover,
main input[type="submit"]:focus,
main input[type="submit"]:active {
  background: none !important;
  color: #26d2e2 !important
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #cdcdcd transparent transparent;
  margin: 2em 0
}

a {
  text-decoration: none;
  color: #26d2e2;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;

  &:hover {
    text-decoration: none;
  }
}

a:before,
a:after {
  cursor: pointer !important
}

a:hover,
a:active {
  color: #1ab6c5
}

img {
  max-width: 100%;
  height: auto;
}

//ul {
//  margin: 1em 0;
//}

em {
  font-style: italic;
}

article {
  padding-bottom: 40px;

  p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.5;
  }

  h1 {
    display: block;
    margin: 8px 0;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }

  h2 {
    display: block;
    margin: 8px 0;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
  }

  h3 {
    display: block;
    margin: 8px 0;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
  }

  h4 {
    display: block;
    margin: 8px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
  }

  h5 {
    display: block;
    margin: 8px 0;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
  }

  h6 {
    display: block;
    margin: 8px 0;
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
  }
}

.widget {
  display: block;
  float: left;
  margin-top: 2em;
  position: relative;
  text-align: center;
  width: 33%;
  padding: 10px;

  @media screen and (max-width: 961px) {
    margin-top: 1em;
    width: 100%;

    p {
      padding: 5px;
      margin: 0;
    }
  }

  @media screen and (min-width: 961px) {
    text-align: left;

    &:nth-child(2n+1) {
      display: block;
      float: left;
    }
    &:nth-child(2n+1):last-child {
      margin-right: 0
    }
    &:nth-child(2n+1) .widget-title {
      display: block;
      float: left;
      margin-right: 2.35765%;
      height: 100%
    }
    &:nth-child(2n+1) .widget-title:last-child {
      margin-right: 0
    }
    &:nth-child(2n+1) .widget-content {
      display: block;
      float: left;
      width: 74.41059%;
      margin-right: 0
    }
    &:nth-child(2n+1) .widget-content:last-child {
      margin-right: 0
    }
    &:nth-child(2n) {
      display: block;
      float: left;
      width: 31.76157%;
      margin-right: 0
    }
    &:nth-child(2n):last-child {
      margin-right: 0
    }
  }
}

.widget:last-child {
  margin-right: 0
}

.fFwIoE{
  font-family: "bebasNeueRegular", sans-serif;
}

.widget-title {
  font-size: 1.8em;
  font-weight: 300;
  margin: 5px 0 1em;
  font-style: italic;
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "bebasNeueRegular", sans-serif;

  @media screen and (min-width: 961px) {
    text-align: left;
  }

  @media screen and (max-width: 961px) {
    font-size: 1.8em;
    font-weight: 300;
    margin: 5px 0 0.1em;
    font-style: italic;
    color: #fff;
    text-align: center;
  }
}

ul {
  padding: 0;
  list-style-position: inside
}

.hidden {
  display: none !important
}

.button,
#local-weather .weather-link,
.offers-list .booking-link,
input[type="button"],
button,
input[type="submit"] {
  display: inline-block;
  text-align: center;
  padding: 0.3em 1.5em;
  line-height: 1.6;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
  color: #fff !important;
  border: 0 !important;
  background-color: #26d2e2;
  border-radius: 0 !important;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em
}

.button:hover,
#local-weather .weather-link:hover,
.offers-list .booking-link:hover,
.button:focus,
#local-weather .weather-link:focus,
.offers-list .booking-link:focus,
input[type="button"]:hover,
input[type="button"]:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #19aebc;
  color: #fff
}

.button:active,
#local-weather .weather-link:active,
.offers-list .booking-link:active,
input[type="button"]:active,
button:active,
input[type="submit"]:active {
  background-color: #13848f
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
  width: 100%;
  padding: 0.32em;
  margin-bottom: 1em;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-weight: 400;
  border-radius: 0 !important;
  border: 0 !important
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus {
  border-color: #26d2e2
}

select {
  width: 100%;
  border-radius: 0 !important;
  border: 0 !important;
  padding: 0.32em;
  margin-bottom: 1em;
  line-height: 1.5;
  background: #fff;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-weight: 400
}

select:focus {
  border-color: #26d2e2
}

.hidden {
  display: none !important
}

html.firefox .icon-logo:before {
  top: -0.25em !important
}

html.iphone .icon-logo:before {
  top: -0.31em !important
}

.double-column {
  column-gap: 30px;
  column-count: 2;

  @media screen and (max-width: 768px) {
    column-count: 1;
  }
}

.one-column {
  column-count: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .rl-gallery-container {
    flex-basis: 33%;

    @media screen and (max-width: 991px) {
      flex-basis: 50%;
    }

    @media screen and (max-width: 632px) {
      flex-basis: 100%;
    }

  }

}

.triple-column {
  column-gap: 30px;
  column-count: 3;

  @media screen and (max-width: 991px) {
    column-count: 2;
  }

  @media screen and (max-width: 480px) {
    column-count: 1;
  }
}

.lightgallery {
  margin: 0;

  a {
    max-width: 300px;
    max-height: 200px;

    img {
      max-width: 300px;
      max-height: 200px;
    }
  }
}

.slick-slide {
  .fa-link, .caption {
    display: none !important;
  }
}

.gallery_box {
  width: 300px;
  height: 200px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.slick-dots li button:before {
  opacity: 0 !important;
  color: black;
}

.slick-dots li.slick-active button:after {
  opacity: .75;
  color: black;
}

.slick-dots li.slick-active button {
  background: $blue !important;
}

.slick-dots li button {
  width: 15px !important;
  height: 15px !important;
}

.slick-dots li button {
  //transform: rotate(-50deg) skewY(15deg) skewX(5deg);
  transform: rotate(45deg) skew(5deg, 5deg);
}

.slick-dots {
  bottom: -40px !important;
}

.slick-prev, .slick-next {
  border: none !important;
  top: -50px;

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.slick-prev:before, .slick-next:before {
  color: $blue;
  font-style: initial;
}

.small_title_wrapper {
  margin: 20px 0 0 0;
  position: relative;
  z-index: 3;

  .small_title {
    font-family: "bebasNeueRegular", sans-serif;
    font-size: 2.5em;
    color: $brown;
    font-style: italic;
    display: inline-block;

    &:after {
      content: "";
      height: 18px;
      bottom: 10px;
      left: 10px;
      width: 100px;
      background: #26d2e29c;
      display: inline-block;
      position: absolute;
      z-index: -1;
      transform: skewX(-10deg);
    }
  }
}

.lg-sub-html {
  display: none;
}

.inner-block-wrapper {
  .inner-block {
    *zoom: 1;
    max-width: 1100px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    @media screen and (max-width: 468px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.page-template-page-standard-romvos .featured-double-square {
  margin-top: -100px !important;
}

.rl-gallery-container {
  position: relative;
  //margin-bottom: 30px;

  .rl-gallery-description {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999 !important;
    background: $blue;
    color: #fff;
    padding: 8px 20px;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .rl-gallery-item:not(:first-child) {
    display: none;
  }
}

.slick-slide {
  background-size: cover;
  background-position: center center;
  position: relative;
}

body.home {

  #homeSlider, .home-location {
    .slick-slide {
      @media screen and (max-width: 768px) {
        height: 100vh !important;
      }
    }
  }
}

.full_slider_wrapper {
  position: relative;

  .page-title {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 50%;
    margin: 0 auto;
    left: 50%;

  }
}

.home-welcome {
  margin: 6em auto 4em auto;
  text-align: center;
}

.home-location {
  display: block;
  margin: 70px auto 30px auto;
  position: relative;

  .slick-prev, .slick-arrow {
    display: none !important;
  }

  .read-more {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-weight: bold;
    background: $blue;
    padding: 8px 20px;
    color: #fff;
    text-align: center;

    &:hover {
      color: $blue;
      background: #fff;
    }
  }

  .home-location-image {
    background-size: cover !important;
    background-position: center center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      .page-title {
        color: #fff;

        &:hover {
          color: $blue;
        }
      }
    }

    a.read-more {
      padding: 6px 12px;
      background: $blue;
      color: #fff;
      font-weight: bold;

      &:hover {
        background: #fff;
        color: $blue;
      }
    }
  }
}

.pre-footer-widgets {

  .widget {
    display: flex;
    flex-direction: column;
  }

  .widget-title {
    color: #645349;
    display: inline-block;
    font-size: 2.5em;
    line-height: 1.65;
    margin-top: 1em;
    border-bottom: 1px solid;
    text-align: center !important;
    width: 100% !important;
  }
}

#offers-widget-slider .slide,
#news-widget-slider .slide {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s
}

#offers-widget-slider .post-item-image,
#news-widget-slider .post-item-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 15em;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-color: #dadada
}

.offer-rhombus {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 20%;
  bottom: 0;
  background-color: #26d2e2;
  transform: rotate(40deg) translateX(-50%) skewY(15deg) skewX(5deg) translateX(50%);

  @media screen and (max-width: 768px) {
    display: none;
    left: 50%;
    transform: rotate(40deg) translateX(-50%) skewY(15deg) skewX(5deg) translate(40%, 57%);
  }

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-family: "bebasNeueRegular", sans-serif;
    transform: rotate(-45deg);

    .offer-title {
      font-weight: 600;
      padding: .4em 0 0.3em 0;
      line-height: 1;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 1.3em 0 1em 0;
      color: #fff;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      letter-spacing: 2px;
    }

    .slider-offer {
      color: #fff;
      letter-spacing: 1px;
    }

  }
}

.reviews-slider {
  height: 100%;

  .slick-dots {
    bottom: -13px !important;

    li button {
      background: #fff;
    }
  }
}

.reviews-link {
  z-index: 99999;
  left: 50%;
  color: #fff;
  padding: 5px 15px;
  background: $blue;
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  font-weight: bold;
  text-align: center;

  @media screen and (max-width: 768px) {
    position: relative;
    left: 0;
    bottom: 0;
  }

  &:hover {
    background: #fff;
    color: $blue;
  }
}

#local-weather, #local-offers {
  display: block;
  position: relative;
  text-align: center;
  height: 23em
}

@media screen and (min-width: 961px) {
  #local-weather, #local-offers {
    height: 19.95em;
    border-bottom: 1px solid #645349
  }
}

#local-weather:before, #local-offers:before {
  content: "";
  position: absolute;
  width: 10em;
  height: 10em;
  top: 32%;
  left: 50%;
  background-color: #645349;
  -webkit-transform: rotate(40deg) translate(-55%, 12.7%) skewY(15deg) skewX(5deg);
  -moz-transform: rotate(40deg) translate(-55%, 12.7%) skewY(15deg) skewX(5deg);
  -ms-transform: rotate(40deg) translate(-55%, 12.7%) skewY(15deg) skewX(5deg);
  -o-transform: rotate(40deg) translate(-55%, 12.7%) skewY(15deg) skewX(5deg);
  transform: rotate(40deg) translate(-55%, 12.7%) skewY(15deg) skewX(5deg);
  z-index: 0
}

#local-offers {
  font-family: "bebasNeueRegular", sans-serif;
  color: #fff;

  .offer-title {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

#local-offers:before {
  background: $blue;
}

@media screen and (min-width: 961px) {
  #local-weather:before, #local-offers:before {
    -webkit-transform: rotate(40deg) translate(-55%, 12%) skewY(15deg) skewX(5deg);
    -moz-transform: rotate(40deg) translate(-55%, 12%) skewY(15deg) skewX(5deg);
    -ms-transform: rotate(40deg) translate(-55%, 12%) skewY(15deg) skewX(5deg);
    -o-transform: rotate(40deg) translate(-55%, 12%) skewY(15deg) skewX(5deg);
    transform: rotate(40deg) translate(-55%, 12%) skewY(15deg) skewX(5deg)
  }
}

#local-weather .weather-image {
  position: relative;
  left: 4em;
  z-index: 2
}

#local-weather i[class^="weather-icon-"] {
  position: relative;
  margin-top: 0.7em;
  color: #fff !important;
  z-index: 2
}

#local-weather .weather-details {
  width: 100%;
  color: #fff;
  font-style: italic
}

#local-weather .weather-temp {
  font-size: 1.5em;
  display: inline-block;
  width: 100%;
  font-weight: 600;
  position: relative;
  z-index: 2
}

#local-weather .weather-city,
#local-weather .weather-country {
  display: inline-block;
  margin: 0 3px;
  position: relative;
  z-index: 2
}

#local-weather .weather-currently {
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 2
}

#local-weather .weather-link {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%)
}

@media screen and (min-width: 961px) {
  #local-weather .weather-link {
    bottom: -4.5em
  }
}

.wpcf7-form input, .wpcf7-form textarea {
  border: 1px solid $brown !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

.language-list {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  border: 1px solid #26d2e2;
  max-height: 44px;
  text-transform: capitalize;
  opacity: 1;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  background-color: #645349;
  float: left;
  z-index: 99999999 !important;
  max-width: 60px;
  overflow: hidden;

  &:hover {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .language-list {
    -webkit-transition-delay: 0s !important;
    -moz-transition-delay: 0s !important;
    transition-delay: 0s !important;
    -webkit-transition-duration: 0s !important;
    -moz-transition-duration: 0s !important;
    transition-duration: 0s !important
  }
}

@media screen and (min-width: 961px) {
  .language-list {
    float: none
  }
}

.language-toggle {
  display: inline-block;
  color: #26d2e2;
  cursor: pointer;
  padding: 0.5em 1em;
  float: left;
}

.language-toggle:hover + .languages {
  max-width: 14em
}

.languages {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 0;
  -webkit-transition: max-width 0.3s;
  -moz-transition: max-width 0.3s;
  transition: max-width 0.3s;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  z-index: 9999999 !important;

}

.languages:hover {
  max-width: 14em
}

.languages .lang-item {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid rgba(38, 210, 226, 0);
  max-height: 42px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.languages .lang-item:hover {
  background-color: #473b33
}

.languages .lang-item a {
  color: #26d2e2;
  display: inline-block
}

.wpml-ls-current-language {
  display: none !important;
}

.header-navigation .navigation-inner {
  @media screen and (max-width: 992px) {
    max-height: calc(100vh - 100px) !important;
  }

}

.check-availability-icon {
  display: none;
  @media screen and (max-width: 992px) {
    display: block;
  }

}

.sec_heading {
  display: none;
}

body.page-template-page-gallery {
  .lightgallery {

    a:not(:first-child) {
      display: none;
    }

  }

  .lightgallery a, .lightgallery a img {
    max-width: 350px;
    max-height: 270px;
    position: relative;

    @media screen and (max-width: 992px) {
      max-width: 768px;
      max-height: 480px;
    }

    .sec_heading {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: $blue;
      color: #fff;
      padding: 8px 16px 6px 16px;
      font-family: "bebasNeueRegular", sans-serif;
      font-size: 20px;
    }
  }

  .gallery_box {
    width: 350px;
    height: 270px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    @media screen and (max-width: 992px) {
      width: 768px;
      height: 480px;
    }

  }

  .gallery_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .lightgallery {
      flex-basis: 33%;
      width: 33%;
      overflow: hidden;

      @media screen and (max-width: 992px) {
        flex-basis: 50%;
        width: 50%;
        overflow: hidden;
      }

      @media screen and (max-width: 768px) {
        flex-basis: 100%;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}

._bebas {
  font-family: "bebasNeueRegular", sans-serif;
}

@media screen and (max-width: 992px) {
  .wpcf7 {
    margin: 50px auto;
    text-align: center;
  }
}

.covid_shield, .otetv_block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 14px;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .left_image{
    padding-right: 20px;
  }

  .right_image {
    padding-left: 20px;

    @media screen and (max-width: 768px) {
      padding-left: 0;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    img {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
  }
}

.otetv_block {
  max-width: 600px;
  margin: 10px auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .left_image{
    width: 260px;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
      margin: 4px auto 20px auto;
    }
  }
}

.dine-block {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  img {
    margin-right: 15px;
  }

  p{
    text-align: center;
  }
}

#content {
  display: block;
  margin-top: 50px;
}

.awards_block {
  display: flex;
  align-items: center;

  div {
    text-align: center;
    margin: 5px;

    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
}